$background-color-primary: #fff;
$header-background-color: #ffcd00;;
$background-color-secondary: #EEEEEE;
$cart-background-color: #daaf00;
$text-color-primary: #444;
$text-color-secondary: #000;
$text-color-tertiary: #22b14c;
$text-color-quaternary: #fff;

$font-family-primary: Montserrat, Proxima Nova, Helvetica Neue,Roboto, Helvetica,Arial,sans-serif;
$font-size-base: 14px;
$font-size-large: 18px;
$font-size-small: 12px;

$hover-color: #ff6c00;
$main-bg-color: $background-color-secondary;
